
.porcentagem{
    width:80px;
    height:59px;
    margin-left:-35px;
    text-indent:30px;
    padding-top: 20px;
    margin-top: 0px;
    background: url("../imagens/camarim/balao-figurante.png") no-repeat transparent;
    }
.porcentagem2{
    width:80px;
    height:59px;
    margin-left:-35px;
    text-indent:30px;
    padding-top: 20px;
    margin-top: 0px;
    background: url("../imagens/camarim/balao-figurante.png") no-repeat transparent;
    }
.porcentagem3{
    width:80px;
    height:59px;
    margin-left:-35px;
    text-indent:30px;
    padding-top: 20px;
    margin-top: 0px;
    background: url("../imagens/camarim/balao-figurante.png") no-repeat transparent;
    }
.porcentagem4{
    width:80px;
    height:59px;
    margin-left:-35px;
    text-indent:30px;
    padding-top: 20px;
    margin-top: 0px;
    background: url("../imagens/camarim/balao-figurante.png") no-repeat transparent;
    }