@charset "utf-8";
@font-face {
    font-family: 'DINBoldRegular';
    src: url('fontes/dinb000-webfont.eot');
    src: url('fontes/dinb000-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/dinb000-webfont.woff') format('woff'),
         url('fontes/dinb000-webfont.ttf') format('truetype'),
         url('fontes/dinb000-webfont.svg#DINBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* CSS Document */
body{
	font-family:'DINBoldRegular', Arial, sans-serif;
	background-color:#000000;
	width:100%;
	margin:0;
	overflow-x:hidden;
	}

body a{
	text-decoration:none;}

	
#wrapper { 
width:100%;
background-color:#000;
}

#content{
	background:url("../imagens/fundo.jpg") #000000 no-repeat;
    margin:0 auto;
	position:relative;
	width:1200px;
	height:800px;
}

#conteudo{
    margin:0 auto;
	position:relative;
	width:960px;	
	height:800px;
}
#fundo{
    background:url("../imagens/bgHome.png") #000000 no-repeat;
    width:1200px;
    height:800px;
    position:absolute;
    left: -100px;
}
.enquete #fundo{
    background:url("../imagens/fundo.jpg") #000000 no-repeat;
    width:1200px;
    height:800px;
    position:absolute;
    left: -100px;
}
.busca #fundo{
	 background:url("../imagens/fundoBusca.jpg") #000000 no-repeat;
    width:1200px;
    height:800px;
    position:absolute;
    left: -100px;
}
#fundoTextos{
	background:url("../imagens/bg_textos.png") #000000 no-repeat;
	width:1200px;
	height:800px;
	position:absolute;
	left: -100px;
}

#fundoEnquete{
	background:url("../imagens/fundo.jpg") #000000 no-repeat;
	width:1200px;
	height:800px;
	position:absolute;
	left: -100px;
}

#logoBradesco{
	position:absolute;
	margin-top:42em;
	margin-left:2em;
}

#logoProjeto{
	left: -7px;
	top:50px;
    position: absolute;
	
}
#logoProjeto.enquete {
    left: 1px;
    position: absolute;
    top: 17px;
	text-decoration:none;
}
img{
 	border:0;	 
}
#menu{
	background: url("../imagens/fundoMenu.png") no-repeat scroll 0 0 transparent;
    height: 254px;
    margin: 3em 0 0 22.5em;
    position: absolute;
    width: 716px;
}
#menu.enquete{
	background: url("../imagens/fundoMenu.png") no-repeat scroll 0 0 transparent;
    height: 254px;
    margin:3em 0 0 18.9em;
    position: absolute;
    width: 716px;
}

#menu ul{
	list-style: none outside none;
    margin-top: 8.4em;
    padding-left: 90px;
    width: 580px;	
}

#menu ul li{background: url("../imagens/base_botoes.png") repeat-x scroll 0 0 transparent;
    border-right: 1px solid #C3225E;
    color: white;
    float: left;
    font-size: 14px;
    height: 22px;
    padding: 7px 15px 0;
}
#menu ul li.last{
	border-right:none;
}

#menuTopo{
    height: 254px;
	left: 260px;
    position: absolute;
    width: 580px;
	top: 40px;
	}
#menuTopo ul{
	list-style: none outside none;
    margin-top: 8.4em;
    padding-left: 127px;
    width: 580px;
}
#menuTopo ul li{
	background: url("../imagens/base_botoes.png") repeat-x scroll 0 0 transparent;
    border-right: 1px solid #C3225E;
    color: white;
    float: left;
    font-size: 14px;
    height: 22px;
    padding: 7px 15px 0;
}
#menuTopo ul li.last{
	border-right:none;
}
#menuTopo ul li.first{
	background: url("../imagens/botaoOn.png") repeat-x scroll 0 0 transparent;
    color: #777777;
}

#slogan{
	color: #FFFFFF;
    font-size: 16px;
    line-height: 0.9;   
    position: absolute;
    text-transform: uppercase;
	height:60px;
	left: 64px;
	top: 310px;
}


#slogan.enquete {
    color: #FFFFFF;
    font-size: 16px;
    height: 60px;
    left: 128px;
    line-height: 0.9;
    position: absolute;
    text-transform: uppercase;
    top: 290px;
}

#slogan h2{
	font-size: 23px;
    font-weight: normal;
	margin:0;
}

#sombraL{
	background: url("../imagens/shadowL.png") no-repeat scroll 0 0 transparent;
    height: 445px;
    margin-top: 12em;
    position: absolute;
    width: 135px;
    z-index: 890;
}
#sombraR{
	background: url("../imagens/shadowR.png") no-repeat scroll 0 0 transparent;
    height: 445px;
    margin-top: 12em;
    position: relative;
    width: 135px;
    z-index: 890;
	float:right;
}

/* CSS do slide */
.ca-container{
	height: 250px;
    margin: 21.5em auto 20px;
    position: absolute;
    width: 100%;
	overflow:hidden;
	max-width: 1200px;
    min-width: 800px;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	background: url("../imagens/filme3.png") no-repeat scroll 0 0 transparent;
	float:left;
	width:250px;
	height:100%;
	text-align:center;
}

.container{}

.ca-item-main{
	height: 152px;
    padding-left: 0.5em;
    margin-top: 2.9em;
    overflow: hidden;
    position: absolute;
    width: 230px;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
	box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}
.ca-icon{
	/*height: 245px;*/
    margin: 0 auto;
    position: relative;
    width: 220px;
}

.ca-icon img{}

.ca-item-2 .ca-icon{
	
}
.ca-item-3 .ca-icon{
	
}
.ca-item-4 .ca-icon{
	
}
.ca-item-5 .ca-icon{
	
}

.ca-content-wrapper{
	background:#b0ccc6;
	position:absolute;
	width:0px; /* expands to width of the wrapper minus 1 element */
	height:440px;
	top:5px;
	text-align:left;
	z-index:10000;
	overflow:hidden;
}
.ca-content{
	width:660px;
	overflow:hidden;
}

.ca-content ul{
	margin:20px 35px;
	height:30px;
}
.ca-content ul li{
	float:left;
	margin:0px 2px;
}
.ca-content ul li a{
	color:#fff;
	background:#000;
	padding:3px 6px;
	font-size:14px;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
}
.ca-content ul li a:hover{
	background:#fff;
	color:#000;
	text-shadow:none;
}
.ca-nav span{
	background: url("../imagens/navB.png") no-repeat scroll left top transparent;
    cursor: pointer;
    height: 82px;
    position: absolute;
    text-indent: -9000px;
    top: 35%;
    width: 35px;
    z-index: 1000;
}
.ca-nav span.ca-nav-next{
	background-position: 60% top;
    left: auto;
    right: 0;
}
.ca-nav span.ca-nav-prev{
	background-position: 40% top;
    left: 0;
}
.ca-nav span:hover{
	opacity:1.0;
}

.clr{
	clear:both;
}
.likes{
	color: #FFFFFF;
    float: right;

    font-size: 10px;
    height: 20px;
    margin-right: 10px;
    margin-top: 22.5em;
    position: relative;
    width: 50px;
	}
.balao{
	background: url("../imagens/balao.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;

    font-size: 14px;
    height: 50px;
    margin-left: 3em;
    margin-top: -0.4em;
    padding: 30px 0 0 22px;
    position: absolute;
    width: 85px;
    z-index: 1000;
	}
/* fim do CSS do slide */
#slogan2{
	color: #FFFFFF;
    font-size: 18px;
    top: 310px;
	left: 32px;
    position: absolute;
    text-align: center;
	font-family: 'DINRegular',Arial,sans-serif;
}
#slogan2 .destaque{
	color:gold;}

#titulo{	
    color: #6F6F6F;
    font-size: 23px;
    line-height: 1.2;
    margin-left: 17.3em;
    margin-top: 9em;
    position: absolute;	
}

#subTitulo{
	color: #4A4949;
    margin-left: 25em;
    margin-top: 20em;
    position: absolute;
}

#fotos{
	margin-left: 46.5em;
    margin-top: 19.5em;
    position: absolute;
    width: 300px;
}
#fotos .quadro1{
	background: url("../imagens/quadro1.png") no-repeat scroll 0 0 transparent;
    height: 170px;
    margin-top: 5em;
    position: absolute;
    width: 225px;
}
#fotos .quadro2{
	background: url("../imagens/quadro2.png") no-repeat scroll 0 0 transparent;
    height: 180px;
    margin-left: 40px;
    width: 260px;
}

#botoes{
	border:none;
	font-size: 14px;
    margin-left: 29em;
    margin-top: 30em;
    position: absolute;
    width: 500px;
}
#botoesCampanha{
	border:none;
	font-size: 14px;
    margin-left: 29em;
    margin-top: 24em;
    position: absolute;
    width: 500px;
}
   

.howPart{
	float:left;
}
.howPart p{
	margin-right: 2em;
    margin-top: -45px;
    padding-left: 65px;
}
/*****************
*CAMPANHA
******************/
.campanha.howPart p {
    margin-right: 3em;
    margin-top: 1em;
	margin-left: -5em;
}
.campanha.askDirector p {
    margin-top: 1em;
    padding-left: 0;
}
/*****************
*CAMPANHA
******************/

.askDirector{
	float:left;
}
.askDirector p{
	margin-top: -45px;
    padding-left: 65px;
}

#linhas{
    background: url("../imagens/linhas.png") no-repeat scroll 0 0 transparent;
    height: 81px;
    margin-left: 23em;
    margin-top: 14.25em;
    position: absolute;
    width: 583px;
}

.pipoca1{
	background: url("../imagens/pipoca1.png") no-repeat scroll 0 0 transparent;
    height: 115px;
    left: 537px;
    top: -10px;
    position: absolute;
    width: 140px;
    z-index: 1100;
}
.pipoca2{
	background: url("../imagens/pipoca2.png") no-repeat scroll 0 0 transparent;
    height: 117px;
    left: 965px;
    top: 100px;
    position: absolute;
    width: 127px;
    z-index: 1100;
}
.pipoca3{
	background: url("../imagens/pipoca3.png") no-repeat scroll 0 0 transparent;
    height: 149px;
    left: 252px;
    bottom: 295px;
    position: absolute;
    width: 168px;
    z-index: 1100;
}
.pipoca4{
	background: url("../imagens/pipoca4.png") no-repeat scroll 0 0 transparent;
    height: 380px;
    left: 48px;
    bottom: -135px;
    position: absolute;
    width: 363px;
    z-index: 1100;
}
.prod{
	float:left;
}
.posV{
	float:left;
	padding-left: 3.5em;
}
.prod p{ font-size:16px;
}
.posV p{ font-size:16px;
}
.quadro3{background: url("../imagens/quadro3.png") no-repeat scroll 0 0 transparent;
    height: 206px;
    margin-left: -1.5em;
    position: absolute;
    width: 265px;
}
.quadro4{background: url("../imagens/quadro4.jpg") no-repeat scroll 0 0 transparent;
    height: 180px;
    margin-left: -3.5em;
    margin-top: 3em;
    width: 260px;
}
#scroller li p{
	position:absolute;
	background:none;
	color: #6F6F6F;
}
.busca{
	position:absolute;
	}
#linhas2{
	background: url("../imagens/linhasBusca.png") no-repeat scroll 0 0 transparent;
    height: 81px;
    left: 24.5em;
    top: 17em;
    position: absolute;
    width: 583px;
}
#caixas{
	left: 26em;
    position: absolute;
    top: 24em;
}
#caixas input{
	color: #777777;
    padding: 5px;
    margin-bottom: 1em;
    width: 470px;
	font-family: inherit;
	border: 2px solid #80031C;
}
#caixas select{
	color: #777777;
	border: 2px solid #80031C;
    font-size: 13px;
    padding: 5px;
    margin-bottom: 1em;
    margin-right: 1em;
    width: 232px;
	font-family: inherit;
}

#caixas .submit{
	background: url("../imagens/base_botoes.png") repeat-x scroll 0 0 transparent;
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-family: inherit;
    height: 30px;
    padding: 8px;
    width: 110px;
}
#tituloBusca{
	color: #6F6F6F;
    font-size: 23px;
    line-height: 1.2;
    left: 18em;
    top: 11em;
    position: absolute;
	}
.scroll-pane {
    height: 370px;
	width:513px !important;
    margin-left: 26em;
    margin-top: 19.55em;
    overflow: auto;
    position: absolute;
}